{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This is Jobber</h1>
  </div>
</div>

<div>
  <form method="GET" action="/search/" class="form-inline">
    <input name="search" type="search" id="search-bar" class="form-control" placeholder="search">
    <input type="submit" value="Search" class="form-control btn btn-outline-dark my-2 my-sm">
  </form>
</div>

<div class="card-deck">

{% for event in events %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
        <p class="card-text">{{ event.description }}</p>
        <a href="{% url 'detail' event.id %}" class="card-link">Card link</a>
      </div>
    </div>
{% endfor %}

</div>

{% endblock %}