{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container jumbo-title">
    <h1 class="display-4">This is Jobber.</h1>
    <p class="jumbo-text"> We can help you open new doors. </p>
  </div>
</div>

<div class="form-inline">
  <div class="col-12 col-md-6">
    <form method="GET" action="/search/" class="form-inline my-2 my-md-0">
      <input name="search" type="search" id="search-bar" class="form-control" placeholder="search">
      <input type="submit" value="Search" class="form-control btn btn-outline-dark my-2 my-sm">
  </div>
  <div class="col-12 col-md-6">
      {% for category in categories %}
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{category}}" name="category" value="{{category}}" class="custom-control-input">
        <label class="custom-control-label" for="{{category}}">{{category}}</label>
      </div>
      {% endfor %}
    </form>
  </div>
</div>

{% for event in events %}
  {% if forloop.counter0|divisibleby:3 %}
    </div><div class="row">
  {% endif %}

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title capitalize">{{ event.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
        <a href="{% url 'detail' event.id %}" class="card-link">Card link</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}