{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1> Profile </h1>
        </div>
        <div class="col-4 d-flex align-items-end flex-column">
            <h4> Hello! Welcome {{user.username}} </h4>
            <p class="date-joined"> Member since: {{user.date_joined}} </p>
            <form action="/profile/edit">
                <input type="submit" value="Edit Username" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% comment %} <script>
    let dateJoinedEl = document.getElementsByClassName('date-joined')
    newDate = dateJoinedEl.slice(0,dateJoinedEl.length-11)
    document.querySelector('date-joined').textContent = newDate
</script> {% endcomment %}

{% endblock %}