.container{
    margin-top: 3%;
}

.date-joined{
    font-size: 0.8em;
}

.eventDetailDivider {
    margin-left: 20px;
}

#search-bar{
    width: 50% !important;
    margin-top: 1% !important;
}

.card-title, .capitalize{
    text-transform: capitalize !important;
}