.container{
    margin-top: 3%;
}

.date-joined{
    font-size: 0.8em;
}

.eventDetailDivider {
    margin-left: 20px;
}

#search-bar{
    width: 50%;
    margin-top: 1%;
}

.capitalize{
    text-transform: capitalize;
}